<p id="notice"><%= notice %></p>
<h2>Task</h2>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>State:</strong>
  <%= @task.state %>
</p>

<p>
  <strong>Assignee:</strong>
  <%= @task.assignee_id %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
