<!DOCTYPE html>
<html>
  <head>
    <title>Auth</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= yield %>

    <br>
    <br>

    <% if current_account&.admin? %>
      <hr>

      <p>
        <%= link_to 'Accounts', accounts_path %>
      </p>
      <%= link_to 'Apps', oauth_applications_path %>
    <% end %>
  </body>
</html>
